.postArea {
    border: 1px solid $color-purple;
    box-shadow: 0 0 24px -5px $color-purple;

    h1 {
        text-shadow: 0 0 0.08em #fff, 0 0 1rem $color-purple, 0 0 1.5rem $color-purple,
      0 0 1.8rem $color-purple, 0 0 2.2rem $color-purple, 0 0 1.4rem $color-purple;
    }

    .postButton {

        

        &:hover {
            box-shadow: 0 0 24px -5px $color-green;
            text-shadow: none;
        }
        
    }
}


.dropzone {
    cursor: pointer;

    svg {
        text-align: center;
    }
}